<nav class="col-2">
  <ul class="nav navbar-nav">
    <li class="mb-3">
      <%= link_to books_path do %>
        <i class="fas fa-book-open mr-2"></i>書籍管理
      <% end %>
    </li>
    <li class="mb-3">
      <%= link_to new_books_search_path do %>
        <i class="fas fa-search menu-icon mr-2"></i>書籍検索
      <% end %>
    </li>
    <li class="mb-3">
      <%= link_to libraries_path do %>
        <i class="fas fa-building menu-icon mr-2"></i>図書館管理
      <% end %>
    </li>
    <li>
      <%= link_to new_libraries_search_path do %>
        <i class="fas fa-search menu-icon mr-2"></i>図書館検索
      <% end %>
    </li>
  </ul>
</nav>
