<h1>図書館検索</h1>
<div id="libraries" class="mt-4">
  <div class="library card p-1 m-1 d-inline-block align-top">
    <div class="card-body p-2">
      <%= check_box_tag "is_create" %><br />
      <%= label_tag "is_create", "テックジム図書館名", class: 'title card-title' %>
      <p class="other card-text">東京都港区</p>
      <p class="other card-text">03-1234-5678</p>

        <%= link_to "/", target: "_blank", class: "btn btn-primary d-block mb"  do %>
        図書館HP <i class="fas fa-external-link-alt ml-1"></i>
        <% end %>
    </div>
  </div>
</div>
